{% extends "base.html" %}

{% block content %}
 <!--begin::App Content Header-->
        <div class="app-content-header">
          <!--begin::Container-->
          <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
              <div class="col-sm-6"><h4 class="mb-0">账号管理</h4></div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
<!--                  <li class="breadcrumb-item"> <button type="button" class="layui-btn layui-bg-blue" lay-on="add-category-page-custom" >添加账号</button></li>-->
                     <li class="breadcrumb-item active" aria-current="page">
                        <a href="{{ url_for('member.codes') }}" >
                            <button type="button"  class="layui-btn layui-btn-touyan"><b>管理邀请码</b></button>
                        </a>
                    </li>
                </ol>
              </div>
            </div>
            <!--end::Row-->
          </div>
          <!--end::Container-->
        </div>
        <div class="app-content">



          <!--begin::Container-->
          <div class="container-fluid">
            <!--begin::Row-->
            <div  style="text-align:center;">

                <div class="layui-form-item">
                <div class="layui-inline">
                  <label class="layui-form-label">搜索：</label>
                  <div class="layui-input-inline layui-input-wrap" style="width:500px;">
                    <input type="input" name="keyword" id="search_keyword" lay-verify="required|phone" autocomplete="off" lay-reqtext="请填写手机号" lay-affix="clear" class="layui-input demo-phone">
                  </div>
                  <div class="layui-form-mid" style="padding: 0!important;">
                    <button type="button" class="layui-btn layui-btn-primary" id="search_keyword_button" lay-on="get-vercode">开始搜索</button>
                  </div>
                </div>
              </div>

            </div>
            <!--end::Row-->

               <div class="card mb-4">
                  <div class="card-header">
                    <h3 class="card-title">账号列表</h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body p-0">

                    <table class="table table-striped" style="text-align: center;">
                      <thead>
                        <tr>
                          <th >序号</th>
                          <th>UID</th>
                          <th>钱包</th>
                          <th>状态</th>
                          <th>邀请码</th>
                          <th>推特</th>
                          <th>DC</th>
                          <th>DC频道</th>
                          <th>注册时间</th>
                          <th>备注</th>
                          <th style="width: 200px">操作</th>
                        </tr>
                      </thead>
                      <tbody id="data-table">

                      </tbody>
                    </table>
                     <div class="toolbar-checkbox-wrapper">
                      <div class="layui-form toolbar-checkbox-left" id="check_all_data">
                        <button type="button" class="layui-btn layui-btn-sm layui-btn-touyan" id="toggleSelectBtn" data-status="unselected">全选</button>
                        <button type="button" class="layui-btn layui-btn-sm layui-bg-orange  " id="batchDeleteBtn">批量禁止</button>
                      </div>

                      <div id="demo-laypage-all" class="toolbar-checkbox-right"></div>
                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->


          </div>
          <!--end::Container-->
        </div>
        <!--end::App Content-->

<script>

layui.use(['laypage', 'jquery'], function() {
  var laypage = layui.laypage;
  var $ = layui.jquery;
  const token = localStorage.getItem('token');

    // 批量删除按钮监听（动态项）
    $('body').on('click', '#batchDeleteBtn', function () {
      if (selectedIds.size === 0) {
        return layer.msg("请至少选择一项进行禁止");
      }

      const ids = Array.from(selectedIds);
      console.log('checkbox ids:', ids);
      layer.confirm(`确认禁止 ${ids.length} 项吗？`, function (index) {
        $.ajax({
          url: '{{ url_for('member.delete') }}',
          type: 'POST',
          headers: {
            'Authorization': 'Bearer ' + token,
          },
          contentType: 'application/json',
          data: JSON.stringify({ ids }),  // ✅ 正确传 JSON
          success:function(result){
            if(result.status == 1){
              layer.msg(result.message);

              // 删除成功后，清除已选中的 ID
              ids.forEach(id => selectedIds.delete(String(id)));

              // 重新拉取数据
              fetchData(1, 10);  // 默认加载第1页，10条数据
            } else {
              layer.msg(result.message || "禁止失败");
            }
          },
          error: function () {
            layer.msg("请求失败");
          }
        });

        layer.close(index);
      });
    });

  // 增加搜索委托给 body 或更合适的父容器
  $('body').on('click keydown', '#search_keyword_button, #search_keyword', function (e) {
      if (e.type === 'click' || (e.type === 'keydown' && e.key === 'Enter')) {
        const keyword = $("#search_keyword").val().trim();

        fetchData(1, 10, keyword);  // 默认加载第1页，10条数据
      }
  });

  let currentKeyword = ''; // 全局变量，记住 keyword

  //将函数挂载到 window，变成全局函数
  window.fetchData = function (page, limit, keyword) {
    currentKeyword = keyword || '';  // 每次 fetch 更新当前 keyword
    $.ajax({
      url: '{{ url_for('member.page') }}',  // 替换为你的后端接口
      type: 'GET',
      headers: {
        'Authorization': 'Bearer ' + token,
        'Content-Type': 'application/json'
      },
      data: { page: page, limit: limit,keyword: currentKeyword },
      success: function(res) {
        // 假设 res 格式：{ code: 0, count: 100, data: [...] }
        if (res.code === 0) {
          renderTable(res.data);  // 渲染表格
          laypage.render({
            elem: 'demo-laypage-all',
            count: res.count,
            limit: limit,
            curr: page,
            layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'], // 功能布局
            jump: function(obj, first) {
              if (!first) {
                fetchData(obj.curr, obj.limit,currentKeyword);  // 重新获取数据
              }
            }
          });
        }
      }
    });
  }


  function formatTimestamp(unixTime) {
      if (!unixTime || unixTime <= 0) {
        return '-';
      }
      const date = new Date(unixTime * 1000); // 如果是毫秒则不乘
      const Y = date.getFullYear();
      const M = String(date.getMonth() + 1).padStart(2, '0');
      const D = String(date.getDate()).padStart(2, '0');
      const h = String(date.getHours()).padStart(2, '0');
      const m = String(date.getMinutes()).padStart(2, '0');
      return `${Y}/${M}/${D} ${h}:${m}`;
 }

  function renderUsedStatus(status) {
      return status==-1
        ? '<span class="layui-badge layui-bg-orange">禁用账号</span>'
        : '<span class="layui-badge " style="background-color:#16b777;">正常账号</span>';
  }


  function renderTable(data) {
    var html = '';
    const colorClasses = [
      'layui-bg-orange',
      'layui-bg-green',
      'layui-bg-blue',
      'layui-bg-black'
    ];

    data.forEach(function(item) {
      // 随机选择一个 class
      const randomClass = colorClasses[Math.floor(Math.random() * colorClasses.length)];
      const isYesChecked = selectedIds.has(String(item.id)) ? 'checked' : '';
      html += `<tr class="align-middle" id="del_twitter_${item.uid}">
                          <td  style="text-align:left;">
                              <div class="layui-form">
                                   <input type="checkbox" name="checkItem" value="${item.uid}"  lay-filter="checkItem"   data-id="${item.uid}" lay-skin="primary" ${isYesChecked}   > ${item.num}.
                              </div>
                          </td>
                          <td>${item.uid}</td>
                          <td>${item.wallet}</td>
                          <td>${renderUsedStatus(item.status)}</td>
                          <td>${item.code}</td>
                          <td>${item.max_twitter}</td>
                          <td>${item.max_discord}</td>
                          <td>${item.max_discord_channel}</td>
                          <td>${formatTimestamp(item.created)}</td>
                          <td>${item.remark}</td>
                          <td style="text-align:right;">
                          <div class="layui-btn-container">
                          <span   lay-on="edit-confirm"  data-id="${item.uid}" data-username="${item.username}" data-remark="${item.remark}"   data-max-twitter="${item.max_twitter}"  data-max-discord="${item.max_discord}"  data-max-discord-channel="${item.max_discord_channel}"  ><button type="button" class="layui-btn layui-bg-blue  layui-btn-sm">设置</button></span>
                            <span lay-on="del-confirm" data-id="${item.uid}" data-status="${item.status}">
                                <button type="button" class="layui-btn layui-btn-sm ${item.status === 1 ? 'layui-bg-orange' : 'layui-bg-touyan'}">
                                  ${item.status === 1 ? '禁止' : '恢复'}
                                </button>
                              </span>
                          </div>
                          </td>
                        </tr>`;
    });
    $('#data-table').html(html);
    // 先渲染 layui checkbox 外观
      layui.form.render('checkbox');

      // 再设置选中状态
      $('#data-table input[name="checkItem"]').each(function () {
        const id = String($(this).data('id'));
        if (selectedIds.has(id)) {
          $(this).prop('checked', true);
        } else {
          $(this).prop('checked', false);
        }
      });

      updateToggleSelectBtnStatus()
  }

  fetchData(1, 10);  // 默认加载第1页，10条数据
});

layui.use(function(){
  var $ = layui.$;
  var layer = layui.layer;
  var util = layui.util;
  var form = layui.form;

  const token = localStorage.getItem('token');

  // 事件
  util.on('lay-on', {

    'del-confirm': function(){

      const id = $(this).data('id');       // 获取 data-id 的值
      const status = $(this).data('status');       // 获取 data-status 的值

      layer.open({
        type: 1,
        area: '300px',
        resize: false,
        shadeClose: true,
        title: '操作账号',
        content: `
          <div class="layui-form" lay-filter="filter-test-layer" style="margin: 16px;">
            <div class="demo-login-container">

              <div class="layui-form-item">
                <div class="layui-input-wrap" style="text-align:center;">
                  <div class="layui-input-prefix">

                  </div>
                    <div class="layui-form">
                      <input type="radio" name="status" value="1" title="恢复账号" ${status == -1 ? 'checked' : ''}>
                      <input type="radio" name="status" value="-1" title="禁用账号" ${status == 1 ? 'checked' : ''}>
                    </div>
                     <input type="hidden" name="id" value="${id}" lay-verify="required" placeholder="账号uid"  autocomplete="off" >
                 </div>
              </div>

              <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid" id="add-button" lay-submit lay-filter="demo-login">确定操作</button>
              </div>

            </div>
          </div>
        `,
        success: function(){
          // 对弹层中的表单进行初始化渲染
          form.render();

          // 表单提交事件
          form.on('submit(demo-login)', function(data){

            $("#add-button").html("请稍等，正在提交数据...").attr("disabled","disabled");
            // 此处可执行 Ajax 等操作
            $.ajax({
                url:'{{ url_for('member.edit') }}',
                headers: {
                    'Authorization': 'Bearer ' + token,
                },
                data:{
                    "id":data.field.id,
                    "status":data.field.status
                },
                dataType:"json",
                type:"post",
                async:false,
                success:function(result){
                    if(result.status == 1){
                        layer.closeAll();
<!--                        layer.confirm(result.message, {-->
<!--                          btn: ['确定', '关闭'] //按钮-->
<!--                        }, function(){-->
<!--                          window.location.href='{{ url_for('member.index') }}';-->
<!--                        }, function(){-->
<!--                          window.location.href='{{ url_for('member.index') }}';-->
<!--                        });-->
<!--                        -->
                        // 重新拉取数据
                        fetchData(1, 10);  // 默认加载第1页，10条数据

                        return true

                    }else{
                    	$("#add-button").html("确定提交").removeAttr("disabled");
                    	return layer.msg(result.message);
                    }
                }
            })
            return false; // 阻止默认 form 跳转
          });
        }
      });
    },
    'edit-confirm': function(){

      const id = $(this).data('id');       // 获取 data-id 的值
      const remark = $(this).data('remark');       // 获取 data-remark 的值
      const max_twitter = $(this).data('max-twitter');
      const max_discord = $(this).data('max-discord');
      const max_discord_channel = $(this).data('max-discord-channel');
      const username = $(this).data('username');

      layer.open({
        type: 1,
        area: '350px',
        resize: false,
        shadeClose: true,
        title: '管理 '+username+' 账号',
        content: `
          <div class="layui-form" lay-filter="filter-test-layer" style="margin: 16px;">
            <div class="demo-login-container">



                <div class="layui-form-item">
                    <label class="layui-form-label" style="width:120px;">最大推特:</label>
                    <div class="layui-input-block">
                      <input type="text" name="max_twitter"  style="width:180px;"   id="edit_max_twitter" value="${max_twitter}"  placeholder="最大推特数量"  autocomplete="off" class="layui-input">
                    </div>
                  </div>

                 <div class="layui-form-item">
                    <label class="layui-form-label" style="width:120px;">最大DC数量:</label>
                    <div class="layui-input-block">
                      <input type="text" name="max_discord"  style="width:180px;"    id="edit_max_discord" value="${max_discord}"  placeholder="最大Discord数量"  autocomplete="off" class="layui-input">

                    </div>
                  </div>


                 <div class="layui-form-item">
                    <label class="layui-form-label" style="width:120px;">最大DC频道:</label>
                    <div class="layui-input-block">
                      <input type="text" name="max_discord_channel" style="width:180px;"  id="edit_max_discord_channel" value="${max_discord_channel}"  placeholder="最大Discord的频道数量"  autocomplete="off" class="layui-input">

                    </div>
                  </div>


                 <div class="layui-form-item">
                    <label class="layui-form-label" style="width:70px;">备注:</label>
                    <div class="layui-input-block">
                      <textarea placeholder="请输入账号备注" name="remark" class="layui-textarea" lay-verify="required"  lay-reqtext="请填写账号备注"  >${remark}</textarea>
                     <input type="hidden" name="id" value="${id}" lay-verify="required" placeholder="账号uid"  autocomplete="off" >
                    </div>
                  </div>

              <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid" id="add-button" lay-submit lay-filter="demo-login">确定修改</button>
              </div>

            </div>
          </div>
        `,
        success: function(){
          // 对弹层中的表单进行初始化渲染
          form.render();

          // 表单提交事件
          form.on('submit(demo-login)', function(data){

            $("#add-button").html("请稍等，正在提交数据...").attr("disabled","disabled");
            // 此处可执行 Ajax 等操作
            $.ajax({
                url:'{{ url_for('member.edit') }}',
                headers: {
                    'Authorization': 'Bearer ' + token,
                },
                data:{
                    "id":data.field.id,
                    "max_twitter":data.field.max_twitter,
                    "max_discord":data.field.max_discord,
                    "max_discord_channel":data.field.max_discord_channel,
                    "remark":data.field.remark
                },
                dataType:"json",
                type:"post",
                async:false,
                success:function(result){
                    if(result.status == 1){

                        layer.confirm(result.message, {
                          btn: ['确定', '关闭'] //按钮
                        }, function(){
                          window.location.href='{{ url_for('member.index') }}';
                        }, function(){
                          window.location.href='{{ url_for('member.index') }}';
                        });

                        return true

                    }else{
                    	$("#add-button").html("确定提交").removeAttr("disabled");
                    	return layer.msg(result.message);
                    }
                }
            })
            return false; // 阻止默认 form 跳转
          });
        }
      });
    },
    'add-category-page-custom': function(){
      layer.open({
        type: 1,
        area: '350px',
        resize: false,
        shadeClose: true,
        title: '新增分组',
        content: `
          <div class="layui-form" lay-filter="filter-test-layer" style="margin: 16px;">
            <div class="demo-login-container">
              <div class="layui-form-item">
                <div class="layui-input-wrap">
                  <div class="layui-input-prefix">
                    <i class="layui-icon layui-icon-username"></i>
                  </div>
                  <input type="text" name="username" value="" lay-verify="required" placeholder="分组名称" lay-reqtext="请填写分组名称" autocomplete="off" class="layui-input" lay-affix="clear">
                </div>
              </div>
              <div class="layui-form-item">
                <div class="layui-input-wrap">
                  <div class="layui-input-prefix">
                    <i class="layui-icon layui-icon-password"></i>
                  </div>
                    <textarea placeholder="请输入此分组备注" name="remark" class="layui-textarea"  lay-reqtext="请填写分组备注"  ></textarea>
                 </div>
              </div>

              <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid" id="add-button" lay-submit lay-filter="demo-login">确定增加</button>
              </div>

            </div>
          </div>
        `,
        success: function(){
          // 对弹层中的表单进行初始化渲染
          form.render();
          // 表单提交事件
          form.on('submit(demo-login)', function(data){

            $("#add-button").html("请稍等，正在提交数据...").attr("disabled","disabled");
            // 此处可执行 Ajax 等操作
            $.ajax({
                url:'{{ url_for('category.add') }}',
                headers: {
                    'Authorization': 'Bearer ' + token,
                },
                data:{
                    "username":data.field.username,
                    "is_type":2,
                    "remark":data.field.remark
                },
                dataType:"json",
                type:"post",
                async:false,
                success:function(result){
                    if(result.status == 1){

                        layer.confirm(result.message, {
                          btn: ['确定', '关闭'] //按钮
                        }, function(){
                          window.location.href='{{ url_for('category.discord') }}';
                        }, function(){
                          window.location.href='{{ url_for('category.discord') }}';
                        });

                        return true

                    }else{
                    	$("#add-button").html("确定提交").removeAttr("disabled");
                    	return layer.msg(result.message);
                    }
                }
            })
            return false; // 阻止默认 form 跳转
          });
        }
      });
    }
  })
});
</script>

{% endblock %}