{% extends "base.html" %}

{% block content %}
 <!--begin::App Content Header-->
        <div class="app-content-header">
          <!--begin::Container-->
          <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
              <div class="col-sm-6"><h4 class="mb-0">管理推特</h4></div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                  <li class="breadcrumb-item"> <button type="button" class="layui-btn layui-bg-blue"  lay-on="add-twitter-page-custom">添加新推特</button></li>
                  <li class="breadcrumb-item active" aria-current="page">
                      <button type="button" lay-on="add-category-page-custom"  class="layui-btn btn-success">添加分组</button></li>

                      <li class="breadcrumb-item active" aria-current="page">
                          <a href="{{ url_for('category.twitter') }}" class="alert-link" >
                          <button type="button" class="layui-btn " style="background-color: #16b777" >管理分组</button>
                            </a>
                      </li>


                </ol>
              </div>
            </div>

            <div class="layui-btn-container" id="category_html">

            </div>

            <!--end::Row-->
          </div>
          <!--end::Container-->
        </div>
        <div class="app-content">
          <!--begin::Container-->
          <div class="container-fluid">

               <div class="card mb-4">
                  <div class="card-header">
                    <h3 class="card-title">推特监控列表</h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body p-0">

                    <table class="table table-striped" style="text-align: center;">
                      <thead>
                        <tr>
                          <th style="width: 80px">序号</th>
                          <th >推特账号</th>
                          <th>所属分组</th>
                          <th>关注人数</th>
                          <th>粉丝量</th>
                          <th >简介</th>
                          <th>备注</th>
                          <th style="width: 150px">操作</th>
                        </tr>
                      </thead>
                      <tbody id="data-table">

                      </tbody>
                    </table>
                    <div style="text-align: center;" id="demo-laypage-all"></div>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->


          </div>
          <!--end::Container-->
        </div>
        <!--end::App Content-->

<script>

layui.use(['laypage', 'jquery'], function() {
  var laypage = layui.laypage;
  var $ = layui.jquery;
  const token = localStorage.getItem('token');
  let  cid = 0;

   // 增加推特时，实时取粉丝量 委托给 body 或更合适的父容器
  $('body').on('blur', '#add-twitter-input', function () {

    const url = $(this).val().trim();
    var twitter = ''
    // 提取用户名
    const match = url.match(/(?:https?:\/\/)?(?:x\.com|twitter\.com)\/([a-zA-Z0-9_]+)/);
    if (match) {
      twitter = match[1];
      console.log("用户名:", twitter);
    } else {
      layer.msg('填写的推特链接无效，请参考：https://x.com/guzibiji');
      return false;
    }

    if (twitter) {
      $.ajax({
        url: '/api/auth/get_twitter',  // 你需要创建这个后端路由
        type: 'GET',
        headers: {
        'Authorization': 'Bearer ' + token,
        },
        contentType: 'application/json',
        data: { username: twitter },
        success: function (res) {
          if (res.status) {
            $("#add_username").val(res.data.username)
            $("#add_remark").val(res.data.show_name)
            $("#add_description").val(res.data.description)
            $("#add_show_name").val(res.data.show_name)
            $("#add_url").val(res.data.url)
            $("#add_avatar").val(res.data.avatar)
            $("#add_followers").val(res.data.followers)
            $("#add_fans").val(res.data.fans)
            $("#add_tid").val(res.data.rest_id)
            $("#add_url").val(url)

          } else {
            layer.msg('获取失败：' + res.message);
          }
        },
        error: function () {
           layer.msg('服务器错误，请稍后重试');
        }
      });
    }
  });


 // 增加discord 委托给 body 或更合适的父容器
  $('body').on('click', '.show-twitter-demo-base-text', function () {
        // 在此处输入 layer 的任意代码
        layer.open({
          type: 1, // page 层类型

          title: '怎么取Twitter链接的教程',
          shadeClose: true, // 点击遮罩区域，关闭弹层
          maxmin: true, // 允许全屏最小化
          anim: 0, // 0-6 的动画形式，-1 不开启
          content: '<div style="padding: 32px;"><img src="/static/dist/img/twitter_url.png?1331" style="width:1210px;height:760px;" alt="Logo" ></div>'
        });
  });


  // 修改推特时，实时取粉丝量 委托给 body 或更合适的父容器
  $('body').on('blur', '#edit-twitter-input', function () {

    const url = $(this).val().trim();
    var twitter = ''
    // 提取用户名
    const match = url.match(/(?:https?:\/\/)?(?:x\.com|twitter\.com)\/([a-zA-Z0-9_]+)/);
    if (match) {
      twitter = match[1];
      console.log("用户名:", twitter);
    } else {
      layer.msg('填写的推特链接无效，请参考：https://x.com/guzibiji');
      return false;
    }

    if (twitter) {
      $.ajax({
        url: '/api/auth/get_twitter',  // 你需要创建这个后端路由
        type: 'GET',
        headers: {
        'Authorization': 'Bearer ' + token,
        },
        contentType: 'application/json',
        data: { username: twitter },
        success: function (res) {
          if (res.status) {
            $("#edit_username").val(res.data.username)
            $("#edit_remark").val(res.data.show_name)
            $("#edit_description").val(res.data.description)
            $("#edit_show_name").val(res.data.show_name)
            $("#edit_url").val(res.data.url)
            $("#edit_avatar").val(res.data.avatar)
            $("#edit_followers").val(res.data.followers)
            $("#edit_fans").val(res.data.fans)
            $("#edit_tid").val(res.data.rest_id)
            $("#edit_url").val(url)

          } else {
            layer.msg('获取失败：' + res.message);
          }
        },
        error: function () {
           layer.msg('服务器错误，请稍后重试');
        }
      });
    }
  });

  // 监听分类按钮点击
  $('#category_html').on('click', '.layui-btn', function() {
    cid = $(this).data('id');
    // 样式切换：移除其他按钮的 cur，添加当前按钮的 cur
    $('#category_html .layui-btn').addClass('layui-btn-primary');
    $(this).removeClass('layui-btn-primary');

    fetchData(1, 10,cid); // 点击分类时重置为第一页
  });

  function fetchData(page, limit, cid) {
    $.ajax({
      url: '{{ url_for('twitter.page') }}',  // 替换为你的后端接口
      type: 'GET',
      headers: {
        'Authorization': 'Bearer ' + token,
        'Content-Type': 'application/json'
      },
      data: { page: page, limit: limit, cid: cid },
      success: function(res) {
        // 假设 res 格式：{ code: 0, count: 100, data: [...] }
        if (res.code === 0) {
          renderTable(res.data);  // 渲染表格
          laypage.render({
            elem: 'demo-laypage-all',
            count: res.count,
            limit: limit,
            curr: page,
            layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'], // 功能布局
            jump: function(obj, first) {
              if (!first) {
                fetchData(obj.curr, obj.limit, cid);  // 重新获取数据
              }
            }
          });
        }
      }
    });
  }

function formatTimestamp(unixTime) {
      if (!unixTime || unixTime <= 0) {
        return '-';
      }
      const date = new Date(unixTime * 1000); // 如果是毫秒则不乘
      const Y = date.getFullYear();
      const M = String(date.getMonth() + 1).padStart(2, '0');
      const D = String(date.getDate()).padStart(2, '0');
      const h = String(date.getHours()).padStart(2, '0');
      const m = String(date.getMinutes()).padStart(2, '0');
      return `${Y}/${M}/${D} ${h}:${m}`;
 }

  function renderTable(data) {
    var html = '';
    const colorClasses = [
      'layui-bg-orange',
      'layui-bg-green',
      'layui-bg-cyan',
      'layui-bg-blue',
      'layui-bg-black'
    ];

    data.forEach(function(item) {
      // 随机选择一个 class
      const randomClass = colorClasses[Math.floor(Math.random() * colorClasses.length)];
      html += `<tr class="align-middle" id="del_twitter_${item.tid}">
                          <td>${item.num}.</td>
                          <td >
                           <a href="https://x.com/${item.username}" class="alert-link" target="_blank">
                           <div style="display: flex; align-items: center; gap: 10px;">
                              <img src="${item.avatar}" class="user-image rounded-circle shadow"  style="width:40px; height:40px;" alt="User Image">
                              <div style="display: flex; flex-direction: column;">
                                <div style="font-weight: bold;">${item.show_name}</div>
                                <div style="font-size: 0.9em; color: #666;">@${item.username}</div>
                              </div>
                            </div>
                         </a>
                          </td>
                          <td><span class="layui-badge ${randomClass}">${item.cate_name}</span></td>
                          <td>${item.followers}</td>
                          <td>${item.fans}</td>
                          <td style="max-width:180px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">${item.description}</td>
                          <td  style="max-width:150px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">${item.remark}</td>
                          <td>
                          <span   lay-on="edit-confirm"  data-id="${item.id}" data-cid="${item.cid}" data-tid="${item.tid}" data-description="${item.description}"    data-username="${item.username}" data-show_name="${item.show_name}" data-url="${item.url}" data-avatar="${item.avatar}" data-followers="${item.followers}" data-fans="${item.fans}"  data-remark="${item.remark}" ><button type="button" class="layui-btn layui-bg-blue  layui-btn-sm">修改</button></span>
                           <span   lay-on="del-twitter-confirm"  data-id="${item.tid}" ><button type="button" class="layui-btn layui-bg-red  layui-btn-sm">删除</button></span>
                           </td>
                        </tr>`;
    });
    $('#data-table').html(html);
  }


    // ✅ 取到分类列表
  function getCategory(){

       const token = localStorage.getItem('token');
       $.ajax({
        url:'{{ url_for('category.list') }}',// ✅ 你后端接口地址
        headers: {
            'Authorization': 'Bearer ' + token,
        },
        type: 'GET',
        success: function(res) {
          if (res.status === 1 && Array.isArray(res.data)) {
            const select = $('#category_html');
            select.empty();  // 清空旧内容
            select.append('<button type="button" data-id="0"  class="layui-btn  layui-btn-sm ">全部分组</button>');
            res.data.forEach(item => {
                const selected = (item.id === cid) ? 'selected' : '';
                select.append(`<button type="button" data-id="${item.id}" class="layui-btn layui-btn-primary layui-btn-sm  ${selected}"> ${item.title}</button>`);
            });

          } else {
            layer.msg('下拉数据加载失败');
          }
        },
        error: function() {
          //layer.msg('请求出错');
        }
      });
  }

  fetchData(1, 10,0);  // 默认加载第1页，10条数据
  setTimeout(getCategory, 300);
});





layui.use(function(){
  var $ = layui.$;
  var layer = layui.layer;
  var util = layui.util;
  var form = layui.form;

  const token = localStorage.getItem('token');


  // 事件
  util.on('lay-on', {
    'del-twitter-confirm': function(){
      const id = $(this).data('id');       // 获取 data-id 的值

        layer.confirm('你确定删除此信息？', {
        btn: ['确定', '取消'] //按钮
      }, function(){
        // 此处可执行 Ajax 等操作
        $.ajax({
                url:'{{ url_for('twitter.delete') }}',
                data:{
                    "id":id,
                },
                headers: {
                    'Authorization': 'Bearer ' + token,
                },
                dataType:"json",
                type:"post",
                async:false,
                success:function(result){
                    if(result.status == 1){
                        $('#del_twitter_'+id).remove();
                        layer.msg(result.message);
                        return true
                    }else{
                    	layer.msg(result.message);
                    	return false
                    }
                }
        })

      }, function(){
            return true

      });
    },
    'edit-confirm': function(){

      const id = $(this).data('id');       // 获取 data-id 的值
      const cid = $(this).data('cid');
      const tid = $(this).data('tid');
      const title = $(this).data('title');
      const remark = $(this).data('remark');
      const description = $(this).data('description');
      const username = $(this).data('username');
      const show_name = $(this).data('show_name');
      const url = $(this).data('url');
      const avatar = $(this).data('avatar');
      const followers = $(this).data('followers');
      const fans = $(this).data('fans');

      layer.open({
        type: 1,
        area: '350px',
        resize: false,
        shadeClose: true,
        title: '修改推特',
        content: `
          <div class="layui-form" lay-filter="filter-test-layer" style="margin: 16px;">
            <div class="demo-login-container">


               <div class="layui-form-item">
                <div class="layui-input-wrap">
                  <div class="layui-input-prefix">
                    <i class="layui-icon layui-icon-link"></i>
                  </div>
                  <input type="text" id="edit-twitter-input"  disabled name="twitter_url" value="${url}" lay-verify="required" placeholder="复制推特链接，程序会自动取信息" lay-reqtext="请填写复制推特链接" autocomplete="off" class="layui-input" lay-affix="clear">
                  <div class="layui-inline layui-word-aux layui-font-gray show-twitter-demo-base-text" style="font-size:12px;margin-bottom:5px;"  >
                  什么？不知道是推特哪个链接？
                  <a href="javascript:;" class="layui-font-blue">
                    点击查看教程
                  </a>
                </div>
                </div>
              </div>



               <div class="layui-form-item">
                <div class="layui-input-wrap">
                  <div class="layui-input-prefix">
                    <i class="layui-icon layui-icon-list"></i>
                  </div>
                    <select name="category_id" id="category_select" lay-verify="required" lay-search>
                      <option value="">直接选择或搜索分组</option>
                    </select>
                    </div>
              </div>

               <div class="layui-form-item">
                <div class="layui-input-wrap">

                    <div class="layui-inline">

                      <div class="layui-input-inline" style="width: 130px;">
                      <div class="layui-input-prefix">
                        <i class="layui-icon layui-icon-username"></i>
                      </div>
                        <input type="text" name="username" id="edit_username" value="${username}"  placeholder="账号名" disabled autocomplete="off" class="layui-input">
                      </div>
                         <div class="layui-form-mid">-</div>
                      <div class="layui-input-inline" style="width: 130px;">
                       <div class="layui-input-prefix">
                        <i class="layui-icon layui-icon-chat"></i>
                      </div>
                        <input type="text" name="show_name" id="edit_show_name" value="${show_name}"  placeholder="显示名" disabled autocomplete="off" class="layui-input">
                      </div>
                    </div>
                 </div>
              </div>

               <div class="layui-form-item">
                <div class="layui-input-wrap">

                    <div class="layui-inline">

                      <div class="layui-input-inline" style="width: 130px;">
                      <div class="layui-input-prefix">
                        <i class="layui-icon layui-icon-user"></i>
                      </div>
                        <input type="text" name="fans" id="edit_fans" placeholder="粉丝量" value="${fans}" disabled autocomplete="off" class="layui-input">
                      </div>
                         <div class="layui-form-mid">-</div>
                      <div class="layui-input-inline" style="width: 130px;">
                       <div class="layui-input-prefix">
                        <i class="layui-icon layui-icon-user"></i>
                      </div>
                        <input type="text" name="followers" id="edit_followers" value="${followers}"  placeholder="关注人数" disabled autocomplete="off" class="layui-input">
                      </div>
                    </div>
                 </div>
              </div>

              <div class="layui-form-item">
                <div class="layui-input-wrap">
                  <div class="layui-input-prefix">
                    <i class="layui-icon layui-icon-password"></i>
                  </div>
                    <textarea placeholder="请输入此推特备注" id="edit_remark" name="remark" class="layui-textarea" lay-verify="required"  lay-reqtext="请填写推特备注"  >${remark}</textarea>
                     <input type="hidden" name="id" value="${id}" lay-verify="required"  autocomplete="off" >
                     <input type="hidden" name="cid" value="${cid}" lay-verify="required"  autocomplete="off" >

                     <input type="hidden" name="tid" id="edit_tid"  value="${tid}" lay-verify="required"  autocomplete="off" >
                     <input type="hidden" name="description" id="edit_description"  value="${description}"   autocomplete="off" >
                    <input type="hidden" name="avatar" id="edit_avatar" value="${avatar}" disabled autocomplete="off" class="layui-input">
                    <input type="hidden" name="url" id="edit_url" value="${url}"  disabled autocomplete="off" class="layui-input">

                 </div>
              </div>
              <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid" id="add-button" lay-submit lay-filter="demo-login">确定修改</button>
              </div>

            </div>
          </div>
        `,
        success: function(){
          // 对弹层中的表单进行初始化渲染
          form.render();

          // Step 2: 异步加载下拉数据
          $.ajax({
            url:'{{ url_for('category.list') }}',// ✅ 你后端接口地址
            headers: {
                'Authorization': 'Bearer ' + token,
            },
            type: 'GET',
            data: { is_type: 1 },
            success: function(res) {
              if (res.status === 1 && Array.isArray(res.data)) {
                const select = $('#category_select');
                select.empty();  // 清空旧内容
                select.append('<option value="">直接选择或搜索分组</option>');
                res.data.forEach(item => {
                    const selected = (item.id === cid) ? 'selected' : '';
                    select.append(`<option value="${item.id}" ${selected}>${item.title}</option>`);
                });
                form.render('select');  // ⭐ 重要：重新渲染 layui select
              } else {
                layer.msg('下拉数据加载失败');
              }
            },
            error: function() {
              //layer.msg('请求出错');
            }
          });
          // 表单提交事件
          form.on('submit(demo-login)', function(data){

            $("#add-button").html("请稍等，正在提交数据...").attr("disabled","disabled");
            // 此处可执行 Ajax 等操作
            $.ajax({
                url:'{{ url_for('twitter.edit') }}',
                headers: {
                    'Authorization': 'Bearer ' + token,
                },
                data:{
                    "id":data.field.id,
                    "username":data.field.username,
                    "show_name":data.field.show_name,
                    "fans":data.field.fans,
                    "followers":data.field.followers,
                    "avatar":data.field.avatar,
                    "url":data.field.url,
                    "cid":data.field.category_id,
                    "tid":data.field.tid,
                    "description":data.field.description,
                    "remark":data.field.remark

                },
                dataType:"json",
                type:"post",
                async:false,
                success:function(result){
                    if(result.status == 1){

                        layer.confirm(result.message, {
                          btn: ['确定', '关闭'] //按钮
                        }, function(){
                          window.location.href='{{ url_for('twitter.index') }}';
                        }, function(){
                          window.location.href='{{ url_for('twitter.index') }}';
                        });

                        return true

                    }else{
                    	$("#add-button").html("确定提交").removeAttr("disabled");
                    	return layer.msg(result.message);
                    }
                }
            })
            return false; // 阻止默认 form 跳转
          });
        }
      });
    },
    'add-twitter-page-custom': function(){
      layer.open({
        type: 1,
        area: '350px',
        resize: false,
        shadeClose: true,
        title: '新增推特账号',
        content: `
          <div class="layui-form" lay-filter="filter-test-layer" style="margin: 16px;">
            <div class="demo-login-container">

              <div class="layui-form-item">
                <div class="layui-input-wrap">
                  <div class="layui-input-prefix">
                    <i class="layui-icon layui-icon-link"></i>
                  </div>
                  <input type="text" id="add-twitter-input" name="twitter_url" value="" lay-verify="required" placeholder="复制推特链接，程序会自动取信息" lay-reqtext="请填写复制推特链接" autocomplete="off" class="layui-input" lay-affix="clear">
                 <div class="layui-inline layui-word-aux layui-font-gray show-twitter-demo-base-text" style="font-size:12px;margin-bottom:5px;"  >
                  什么？不知道是推特哪个链接？
                  <a href="javascript:;" class="layui-font-blue">
                    点击查看教程
                  </a>
                </div>

                </div>
              </div>


              <div class="layui-form-item">
                <div class="layui-input-wrap">
                  <div class="layui-input-prefix">
                    <i class="layui-icon layui-icon-list"></i>
                  </div>
                    <select name="category_id" id="category_select" lay-verify="required" lay-search>
                      <option value="">选择或搜索分组</option>
                    </select>
                 </div>
              </div>

               <div class="layui-form-item">
                <div class="layui-input-wrap">

                    <div class="layui-inline">

                      <div class="layui-input-inline" style="width: 130px;">
                      <div class="layui-input-prefix">
                        <i class="layui-icon layui-icon-username"></i>
                      </div>
                        <input type="text" name="username" id="add_username"  placeholder="账号名" disabled autocomplete="off" class="layui-input">
                      </div>
                         <div class="layui-form-mid">-</div>
                      <div class="layui-input-inline" style="width: 130px;">
                       <div class="layui-input-prefix">
                        <i class="layui-icon layui-icon-chat"></i>
                      </div>
                        <input type="text" name="show_name" id="add_show_name" placeholder="显示名" disabled autocomplete="off" class="layui-input">
                      </div>
                    </div>
                 </div>
              </div>

             <div class="layui-form-item">
                <div class="layui-input-wrap">

                    <div class="layui-inline">

                      <div class="layui-input-inline" style="width: 130px;">
                      <div class="layui-input-prefix">
                        <i class="layui-icon layui-icon-user"></i>
                      </div>
                        <input type="text" name="fans" id="add_fans" placeholder="粉丝量" disabled autocomplete="off" class="layui-input">
                      </div>
                         <div class="layui-form-mid">-</div>
                      <div class="layui-input-inline" style="width: 130px;">
                       <div class="layui-input-prefix">
                        <i class="layui-icon layui-icon-user"></i>
                      </div>
                        <input type="text" name="followers" id="add_followers" placeholder="关注人数" disabled autocomplete="off" class="layui-input">
                      </div>
                    </div>
                 </div>
              </div>

              <div class="layui-form-item">
                <div class="layui-input-wrap">
                  <div class="layui-input-prefix">
                    <i class="layui-icon layui-icon-password"></i>
                  </div>
                    <input type="hidden" name="avatar" id="add_avatar"   autocomplete="off" class="layui-input">
                    <input type="hidden" name="url" id="add_url"   autocomplete="off" class="layui-input">
                    <input type="hidden" name="tid" id="add_tid"   autocomplete="off" class="layui-input">
                     <input type="hidden" name="description" id="add_description"  value=""   autocomplete="off" >
                    <textarea placeholder="请输入此推特备注" name="remark" id="add_remark"  class="layui-textarea"   lay-reqtext="请填写推特备注"  ></textarea>
                 </div>
              </div>

              <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid" id="add-button" lay-submit lay-filter="demo-login">确定增加</button>
              </div>

            </div>
          </div>
        `,
        success: function(){
          // 对弹层中的表单进行初始化渲染
          form.render();
           // Step 2: 异步加载下拉数据
          $.ajax({
            url:'{{ url_for('category.list') }}',// ✅ 你后端接口地址
            headers: {
                'Authorization': 'Bearer ' + token,
            },
            type: 'GET',
            data: { is_type: 1 },
            success: function(res) {
              if (res.status === 1 && Array.isArray(res.data)) {
                const select = $('#category_select');
                select.empty();  // 清空旧内容
                select.append('<option value="">直接选择或搜索分组</option>');
                res.data.forEach(item => {
                  select.append(`<option value="${item.id}">${item.title}</option>`);
                });
                form.render('select');  // ⭐ 重要：重新渲染 layui select
              } else {
                layer.msg('下拉数据加载失败');
              }
            },
            error: function() {
              //layer.msg('请求出错');
            }
          });
          // 表单提交事件
          form.on('submit(demo-login)', function(data){

            $("#add-button").html("请稍等，正在提交数据...").attr("disabled","disabled");
            // 此处可执行 Ajax 等操作
            $.ajax({
                url:'{{ url_for('twitter.add') }}',
                headers: {
                    'Authorization': 'Bearer ' + token,
                },
                data:{
                    "username":data.field.username,
                    "show_name":data.field.show_name,
                    "fans":data.field.fans,
                    "followers":data.field.followers,
                    "avatar":data.field.avatar,
                    "url":data.field.url,
                    "cid":data.field.category_id,
                    "tid":data.field.tid,
                    "description":data.field.description,
                    "remark":data.field.remark
                },
                dataType:"json",
                type:"post",
                async:false,
                success:function(result){
                    if(result.status == 1){

                        layer.confirm(result.message, {
                          btn: ['确定', '关闭'] //按钮
                        }, function(){
                          window.location.href='{{ url_for('twitter.index') }}';
                        }, function(){
                          window.location.href='{{ url_for('twitter.index') }}';
                        });

                        return true

                    }else{
                    	$("#add-button").html("确定提交").removeAttr("disabled");
                    	return layer.msg(result.message);
                    }
                }
            })
            return false; // 阻止默认 form 跳转
          });
        }
      });
    },
    'add-category-page-custom': function(){
      layer.open({
        type: 1,
        area: '350px',
        resize: false,
        shadeClose: true,
        title: '新增分组',
        content: `
          <div class="layui-form" lay-filter="filter-test-layer" style="margin: 16px;">
            <div class="demo-login-container">
              <div class="layui-form-item">
                <div class="layui-input-wrap">
                  <div class="layui-input-prefix">
                    <i class="layui-icon layui-icon-username"></i>
                  </div>
                  <input type="text" name="username" value="" lay-verify="required" placeholder="分组名称" lay-reqtext="请填写分组名称" autocomplete="off" class="layui-input" lay-affix="clear">
                </div>
              </div>
              <div class="layui-form-item">
                <div class="layui-input-wrap">
                  <div class="layui-input-prefix">
                    <i class="layui-icon layui-icon-password"></i>
                  </div>
                    <textarea placeholder="请输入此分组备注" name = "remark" class="layui-textarea" lay-verify="required"  lay-reqtext="请填写分组备注"  ></textarea>
                 </div>
              </div>

              <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid" id="add-button" lay-submit lay-filter="demo-login">确定增加</button>
              </div>

            </div>
          </div>
        `,
        success: function(){
          // 对弹层中的表单进行初始化渲染
          form.render();
          // 表单提交事件
          form.on('submit(demo-login)', function(data){

            $("#add-button").html("请稍等，正在提交数据...").attr("disabled","disabled");
            // 此处可执行 Ajax 等操作
            $.ajax({
                url:'{{ url_for('category.add') }}',
                headers: {
                    'Authorization': 'Bearer ' + token,
                },
                data:{
                    "username":data.field.username,
                    "is_type":1,
                    "remark":data.field.remark
                },
                dataType:"json",
                type:"post",
                async:false,
                success:function(result){
                    if(result.status == 1){

                        layer.confirm(result.message, {
                          btn: ['确定', '关闭'] //按钮
                        }, function(){
                          window.location.href='{{ url_for('twitter.index') }}';
                        }, function(){
                          window.location.href='{{ url_for('twitter.index') }}';
                        });

                        return true

                    }else{
                    	$("#add-button").html("确定提交").removeAttr("disabled");
                    	return layer.msg(result.message);
                    }
                }
            })
            return false; // 阻止默认 form 跳转
          });
        }
      });
    }
  })
});
</script>

{% endblock %}