{% extends "base.html" %}

{% block content %}
 <!--begin::App Content Header-->
        <div class="app-content-header">
          <!--begin::Container-->
          <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
              <div class="col-sm-6"><h4 class="mb-0">Discord账号列表</h4></div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">

                    <li class="breadcrumb-item"> <button type="button" class="layui-btn layui-bg-blue"  lay-on="add-discord-page-custom">添加Discord账号</button></li>

                    <li class="breadcrumb-item active" aria-current="page"><button type="button" lay-on="add-category-page-custom"  class="layui-btn" style="background-color: #16b777">添加Discord分组</button></li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <a href="{{ url_for('category.discord') }}" >
                            <button type="button"  class="layui-btn">管理Discord分组</button>
                        </a>
                    </li>

                </ol>
              </div>
            </div>

            <div class="layui-btn-container" id="category_html">

            </div>

            <!--end::Row-->
          </div>
          <!--end::Container-->
        </div>
        <div class="app-content">
          <!--begin::Container-->
          <div class="container-fluid">
                 <!--begin::Row-->
                    <div  style="text-align:center;">

                    <div class="layui-form-item">
                    <div class="layui-inline">
                      <label class="layui-form-label">搜索：</label>
                      <div class="layui-input-inline layui-input-wrap" style="width:500px;">
                        <input type="input" name="keyword" id="search_keyword" lay-verify="required|phone" autocomplete="off" lay-reqtext="请填写手机号" lay-affix="clear" class="layui-input demo-phone">
                      </div>
                      <div class="layui-form-mid" style="padding: 0!important;">
                        <button type="button" class="layui-btn layui-btn-primary" id="search_keyword_button" lay-on="get-vercode">开始搜索</button>
                      </div>
                    </div>
                      </div>

                    </div>
                <!--end::Row-->
               <div class="card mb-4">
                  <div class="card-header">
                    <h3 class="card-title">Discord监控账号</h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body p-0">

                    <table class="table table-striped" style="text-align: center;">
                      <thead>
                        <tr >
                          <th style="width: 80px;">序号</th>
                          <th >DC账号</th>
                          <th >分组</th>
                          <th >Token信息</th>
                          <th >备注信息</th>
                          <th >邮箱</th>
                          <th >操作</th>
                        </tr>
                      </thead>
                      <tbody id="data-table">

                      </tbody>
                    </table>
                    <div style="text-align: center;" id="demo-laypage-all"></div>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->


          </div>
          <!--end::Container-->
        </div>
        <!--end::App Content-->

<script>

layui.use(['laypage', 'jquery'], function() {
  var laypage = layui.laypage;
  var $ = layui.jquery;
  const token = localStorage.getItem('token');
  let  cid = 0;
  //脱敏字符串
  function maskString(str, front = 5, end = 5) {
      if (!str || str.length <= front + end) return str;
      //const maskedLength = str.length - front - end;
      const maskedLength = 10
      return str.slice(0, front) + '*'.repeat(maskedLength) + str.slice(-end);
   }

  // 监听分类按钮点击
  $('#category_html').on('click', '.layui-btn', function() {
    cid = $(this).data('id');
    // 样式切换：移除其他按钮的 cur，添加当前按钮的 cur
    $('#category_html .layui-btn').addClass('layui-btn-primary');
    $(this).removeClass('layui-btn-primary');

    fetchData(1, 10,cid); // 点击分类时重置为第一页
  });



  // 自动取discord_token的相关数据
  $('body').on('blur keydown', '#add-token-input', function () {
    if (event.type === 'blur' || (event.type === 'keydown' && event.key === 'Enter')) {

        const discord_token = $(this).val().trim();
        if (discord_token) {
          $.ajax({
            url: '/api/auth/get_discord',  // 你需要创建这个后端路由
            type: 'GET',
            headers: {
            'Authorization': 'Bearer ' + token,
            },
            contentType: 'application/json',
            data: { token: discord_token },
            success: function (res) {
              if (res.status) {
                $("#add-username").val(res.data.username)
                $("#add-global-name").val(res.data.global_name)
                $("#add-remark").val(res.data.global_name)
                $("#add-email").val(res.data.email)
              } else {
                layer.msg('获取失败：' + res.message);
              }
            },
            error: function () {
               layer.msg('服务器错误，请稍后重试');
            }
          });
        }
    }
  });



  // 增加discord 委托给 body 或更合适的父容器
  $('body').on('click', '#show-token-demo-base-text', function () {
        // 在此处输入 layer 的任意代码
        layer.open({
          type: 1, // page 层类型

          title: '怎么取Discord的Token值的教程',
          shadeClose: true, // 点击遮罩区域，关闭弹层
          maxmin: true, // 允许全屏最小化
          anim: 0, // 0-6 的动画形式，-1 不开启
          content: '<div style="padding: 32px;"><img src="/static/dist/img/discord_token.png?1331" style="width:1210px;height:760px;" alt="Logo" ></div>'
        });
  });

  // 增加discord 委托给 body 或更合适的父容器
  $('body').on('click', '#show-channel-demo-base-text', function () {
        // 在此处输入 layer 的任意代码
        layer.open({
          type: 1, // page 层类型

          title: '怎么取Discord的频道链接的教程',
          shadeClose: true, // 点击遮罩区域，关闭弹层
          maxmin: true, // 允许全屏最小化
          anim: 0, // 0-6 的动画形式，-1 不开启
          content: '<div style="padding: 32px;"><img src="/static/dist/img/discord_channel.png?1331" style="width:1210px;height:760px;" alt="Logo" ></div>'
        });
  });


  // 自动取discord的guild_id和channel_id
  $('body').on('blur keydown', '#edit-discord-input', function () {
    if (event.type === 'blur' || (event.type === 'keydown' && event.key === 'Enter')) {
        const discord_url = $(this).val().trim();
        const discord_token = $("#my_discord_token").val();      // 获取 data-discord_token 的值

        // 校验格式 + 提取 ID
        const match = discord_url.match(/^https:\/\/discord\.com\/channels\/(\d+)\/(\d+)$/);

        if (match) {
          const guild_id = match[1];  // 第一个数字
          const channel_id = match[2];  // 第二个数字
          $("#edit-guild").val(guild_id)
          $("#edit-channel").val(channel_id)
                  if (discord_token) {
              $.ajax({
                url: '/api/auth/get_channel',  // 你需要创建这个后端路由
                type: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + token,
                },
                contentType: 'application/json',
                data: { token: discord_token,channel_id: channel_id,guild_id: guild_id },
                success: function (res) {
                  if (res.status) {
                    $("#edit-username").val(res.data.name)
                    $("#edit-remark").val('监控服务器：'+res.data.guild_name+' 的 '+res.data.name+' 频道')
                    $("#guild_name").val(res.data.guild_name)
                    $("#guild_icon").val(res.data.guild_icon)
                    $("#guild_description").val(res.data.guild_description)
                  } else {
                    layer.msg('未加入此服务器或网络出错，失败原因：' + res.message);
                  }
                },
                error: function () {
                   layer.msg('未加入此服务器或网络错误，请稍后重试');
                }
              });
            }

          console.log("Guild ID:", guild_id);
          console.log("Channel ID:", channel_id);
        } else {
           layer.msg('Discord链接URL格式不正确,参考例子：<br/>https://discord.com/<span style="color:#ff5722;">channels</span>/<span style="color:#ffb800;">1141419161893998702</span>/<span style="color:#1e9fff;">1260130052956360724</span>', {
              time: 3000 // 3 秒后自动关闭
            });
           return
        }
    }
  });

 // 修改discord
  $('body').on('blur', '#edit-token-input', function () {
    const discord_token = $(this).val().trim();
    if (discord_token) {
      $.ajax({
        url: '/api/auth/get_discord',  // 你需要创建这个后端路由
        type: 'GET',
        headers: {
        'Authorization': 'Bearer ' + token,
        },
        contentType: 'application/json',
        data: { token: discord_token },
        success: function (res) {
          if (res.status) {
            $("#edit-username").val(res.data.username)
            $("#edit-global-name").val(res.data.global_name)
            $("#edit-remark").val(res.data.global_name)
            $("#edit-email").val(res.data.email)
          } else {
            layer.msg('获取失败：' + res.message);
          }
        },
        error: function () {
           layer.msg('服务器错误，请稍后重试');
        }
      });
    }
  });

   // 增加搜索委托给 body 或更合适的父容器
  $('body').on('click keydown', '#search_keyword_button, #search_keyword', function (e) {
      if (e.type === 'click' || (e.type === 'keydown' && e.key === 'Enter')) {
        const keyword = $("#search_keyword").val().trim();

        fetchData(1, 10,0, keyword);  // 默认加载第1页，10条数据
      }
  });

  let currentKeyword = ''; // 全局变量，记住 keyword

  function fetchData(page, limit, cid, keyword) {
    currentKeyword = keyword || '';  // 每次 fetch 更新当前 keyword
    $.ajax({
      url: '{{ url_for('discord.page') }}',  // 替换为你的后端接口
      type: 'GET',
      headers: {
        'Authorization': 'Bearer ' + token,
        'Content-Type': 'application/json'
      },
      data: { page: page, limit: limit, cid: cid ,keyword: currentKeyword},
      success: function(res) {
        // 假设 res 格式：{ code: 0, count: 100, data: [...] }
        if (res.code === 0) {
          renderTable(res.data);  // 渲染表格
          laypage.render({
            elem: 'demo-laypage-all',
            count: res.count,
            limit: limit,
            curr: page,
            layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'], // 功能布局
            jump: function(obj, first) {
              if (!first) {
                fetchData(obj.curr, obj.limit, cid,currentKeyword);  // 重新获取数据
              }
            }
          });
        }
      }
    });
  }

  function renderTable(data) {
    var html = '';
    const colorClasses = [
      'layui-bg-orange',
      'layui-bg-green',
      'layui-bg-cyan',
      'layui-bg-blue',
      'layui-bg-black'
    ];

    data.forEach(function(item) {
      // 随机选择一个 class
      const randomClass = colorClasses[Math.floor(Math.random() * colorClasses.length)];
      html += `<tr class="align-middle" id="del_discord_${item.id}">
                          <td>${item.num}.</td>
                          <td><a href="https://discord.com" class="alert-link" target="_blank">${item.global_name}</a></td>
                          <td><span class="layui-badge ${randomClass}">${item.cate_name}</span></td>
                          <td style="filter: blur(0px);">${maskString(item.token)}</td>
                          <td>${item.remark}</td>
                          <td>${item.email}</td>
                          <td>
                          <span><a href="/discord/guild/did/${item.id}" class="alert-link" ><button type="button" class="layui-btn   layui-btn-sm" style="background-color: #16b777">查看频道列表</button></a></span>

                          <span   lay-on="add-channel-confirm"  data-id="${item.id}"  data-global-name="${item.global_name}" data-username="${item.username}" data-discord-token="${item.token}"  ><button type="button" class="layui-btn  layui-btn-sm">增加监控频道</button></span>

                          <span   lay-on="edit-confirm"  data-id="${item.id}" data-email="${item.email}" data-discord-token="${item.token}"  data-cid="${item.cid}"  data-title="${item.username}" data-global-name="${item.global_name}"  data-remark="${item.remark}" ><button type="button" class="layui-btn layui-bg-blue  layui-btn-sm">修改</button></span>
                           <span   lay-on="del-discord-confirm"  data-id="${item.id}" ><button type="button" class="layui-btn layui-bg-red  layui-btn-sm">删除</button></span>
                           </td>
                        </tr>`;
    });
    $('#data-table').html(html);
  }


    // ✅ 取到分类列表
  function getCategory(){

       const token = localStorage.getItem('token');
       $.ajax({
            url:'{{ url_for('category.list') }}',// ✅ 你后端接口地址
            headers: {
                'Authorization': 'Bearer ' + token,
            },
            type: 'GET',
            data: { is_type: 2 },
            success: function(res) {
              if (res.status === 1 && Array.isArray(res.data)) {
                const select = $('#category_html');
                select.empty();  // 清空旧内容
                select.append('<button type="button" data-id="0"  class="layui-btn  layui-btn-sm ">全部分组</button>');
                res.data.forEach(item => {
                    const selected = (item.id === cid) ? 'selected' : '';
                    select.append(`<button type="button" data-id="${item.id}" class="layui-btn layui-btn-primary layui-btn-sm  ${selected}"> ${item.title}</button>`);
                });

              } else {
                layer.msg('下拉数据加载失败');
              }
        },
        error: function() {
          //layer.msg('请求出错');
        }
      });
  }

  fetchData(1, 10,0);  // 默认加载第1页，10条数据
  setTimeout(getCategory, 500);
});





layui.use(function(){
  var $ = layui.$;
  var layer = layui.layer;
  var util = layui.util;
  var form = layui.form;

  const token = localStorage.getItem('token');



  // 事件
  util.on('lay-on', {

    'del-discord-confirm': function(){
      const id = $(this).data('id');       // 获取 data-id 的值

        layer.confirm('你确定删除此信息？', {
        btn: ['确定', '取消'] //按钮
      }, function(){
        // 此处可执行 Ajax 等操作
        $.ajax({
                url:'{{ url_for('discord.delete') }}',
                data:{
                    "id":id,
                },
                headers: {
                    'Authorization': 'Bearer ' + token,
                },
                dataType:"json",
                type:"post",
                async:false,
                success:function(result){
                    if(result.status == 1){
                        $('#del_discord_'+id).remove();
                        layer.msg(result.message);
                        return true
                    }else{
                    	layer.msg(result.message);
                    	return false
                    }
                }
        })


      }, function(){
            return true

      });
    },
    'add-channel-confirm': function(){

      const id = $(this).data('id');       // 获取 data-id 的值
      const discord_token = $(this).data('discord-token');       // 获取 data-discord_token 的值
      const title = $(this).data('title');       // 获取 data-title 的值
      const global_name = $(this).data('global-name');

      layer.open({
        type: 1,
        area: '350px',
        resize: false,
        shadeClose: true,
        title: '增加'+global_name+'频道监控',
        content: `
          <div class="layui-form" lay-filter="filter-test-layer" style="margin: 16px;">
            <div class="demo-login-container">

            <div class="layui-form-item">
                <div class="layui-input-wrap">
                  <div class="layui-input-prefix">
                    <i class="layui-icon layui-icon-link"></i>
                  </div>
                  <input type="text" name="discord_url" id="edit-discord-input" value="" lay-verify="required" placeholder="填入Discord URL，程序自动取信息 " lay-reqtext="请填写Discord的链接URL" autocomplete="off" class="layui-input" lay-affix="clear">
                  </div>
                 <div class="layui-inline layui-word-aux layui-font-gray" style="font-size:12px;margin-bottom:0px;"   id="show-channel-demo-base-text">
                  什么？不知道Discord URL是哪个链接？
                  <a href="javascript:;" class="layui-font-blue">
                    点击查看教程
                  </a>
                </div>
              </div>

              <div class="layui-form-item">
                <div class="layui-input-wrap">
                  <div class="layui-input-prefix">
                    <i class="layui-icon layui-icon-menu-fill"></i>
                  </div>
                  <input type="text" name="username" id="edit-username"   value="" lay-verify="required" placeholder="Discord频道名称" lay-reqtext="请填写频道名称" autocomplete="off" class="layui-input" lay-affix="clear">
                </div>
              </div>

              <div class="layui-form-item">
                <div class="layui-input-wrap">
                  <div class="layui-input-prefix">
                    <i class="layui-icon layui-icon-group"></i>
                  </div>
                  <input type="text" name="guild_id" id="edit-guild"   value="" disabled lay-verify="required" placeholder="Discord服务器ID" lay-reqtext="请填写Discord服务器ID" autocomplete="off" class="layui-input" lay-affix="clear">
                </div>
              </div>

              <div class="layui-form-item">
                <div class="layui-input-wrap">
                  <div class="layui-input-prefix">
                    <i class="layui-icon layui-icon-reply-fill"></i>
                  </div>
                  <input type="text" name="channel_id" id="edit-channel"   disabled value="" lay-verify="required" placeholder="Discord频道ID" lay-reqtext="请填写Discord频道ID" autocomplete="off" class="layui-input" lay-affix="clear">
                </div>
              </div>


              <div class="layui-form-item">
                <div class="layui-input-wrap">
                  <div class="layui-input-prefix">
                    <i class="layui-icon layui-icon-password"></i>
                  </div>
                    <textarea placeholder="请输入此频道备注" id="edit-remark"  name="remark" class="layui-textarea" lay-verify="required"  lay-reqtext="请填写频道备注"  ></textarea>
                    <input type="hidden" name="did" value="${id}" lay-verify="required"  autocomplete="off" >
                    <input type="hidden" name="guild_name" id="guild_name" value=""   autocomplete="off" >
                    <input type="hidden" name="guild_icon" id="guild_icon" value=""   autocomplete="off" >
                    <input type="hidden" name="guild_description" id="guild_description" value=""  autocomplete="off" >
                    <input type="hidden" name="discord_token" id="my_discord_token" value="${discord_token}"  autocomplete="off" >
                 </div>
              </div>

              <div class="layui-form-item">

                <button class="layui-btn layui-btn-fluid" id="add-button" lay-submit lay-filter="demo-login">确定提交</button>
              </div>

            </div>
          </div>
        `,
        success: function(){
          // 对弹层中的表单进行初始化渲染
          form.render();

          // 表单提交事件
          form.on('submit(demo-login)', function(data){

            $("#add-button").html("请稍等，正在提交数据...").attr("disabled","disabled");
            // 此处可执行 Ajax 等操作
            $.ajax({
                url:'{{ url_for('discord.add_channel') }}',
                headers: {
                    'Authorization': 'Bearer ' + token,
                },
                data:{
                    "username":data.field.username,
                    "did":data.field.did,
                    "token":data.field.discord_token,
                    "url":data.field.discord_url,
                    "remark":data.field.remark,
                    "guild_id":data.field.guild_id,
                    "guild_name":data.field.guild_name,
                    "guild_description":data.field.guild_description,
                    "guild_icon":data.field.guild_icon,
                    "channel_id":data.field.channel_id
                },
                dataType:"json",
                type:"post",
                async:false,
                success:function(result){
                    if(result.status == 1){

                        layer.confirm(result.message, {
                          btn: ['确定', '关闭'] //按钮
                        }, function(){
                          window.location.href='{{ url_for('discord.index') }}';
                        }, function(){
                          window.location.href='{{ url_for('discord.index') }}';
                        });

                        return true

                    }else{
                    	$("#add-button").html("确定提交").removeAttr("disabled");
                    	return layer.msg(result.message);
                    }
                }
            })
            return false; // 阻止默认 form 跳转
          });
        }
      });
    },
    'edit-confirm': function(){

      const id = $(this).data('id');
      const cid = $(this).data('cid');
      const global_name = $(this).data('global-name');
      const username = $(this).data('title');
      const remark = $(this).data('remark');
      const email = $(this).data('email');
      const discord_token = $(this).data('discord-token');

      layer.open({
        type: 1,
        area: '350px',
        resize: false,
        shadeClose: true,
        title: '修改账号的'+global_name+'信息',
        content: `
          <div class="layui-form" lay-filter="filter-test-layer" style="margin: 16px;">
            <div class="demo-login-container">

            <div class="layui-form-item">
                <div class="layui-input-wrap">
                  <div class="layui-input-prefix">
                    <i class="layui-icon layui-icon-menu-fill"></i>
                  </div>
                  <input type="text" name="discord_token" id="edit-token-input" value="${discord_token}" lay-verify="required" placeholder="填入Discord Token值，程序自动取信息 " lay-reqtext="请填写Discord的Token值" autocomplete="off" class="layui-input" lay-affix="clear">
                </div>
              </div>

              <div class="layui-form-item">
                <div class="layui-input-wrap">
                  <div class="layui-input-prefix">
                    <i class="layui-icon layui-icon-username"></i>
                  </div>

                  <input type="text" name="global_name" id="edit-global-name"   value="${global_name}" lay-verify="required" placeholder="Discord名称" lay-reqtext="请填写Discord用户名" autocomplete="off" class="layui-input" lay-affix="clear">
                </div>
              </div>

               <div class="layui-form-item">
                <div class="layui-input-wrap">
                  <div class="layui-input-prefix">
                    <i class="layui-icon layui-icon-list"></i>
                  </div>
                    <select name="category_id" id="category_select" lay-verify="required" lay-search>
                      <option value="">直接选择或搜索分组</option>
                    </select>
                    </div>
              </div>

              <div class="layui-form-item">
                <div class="layui-input-wrap">
                  <div class="layui-input-prefix">
                    <i class="layui-icon layui-icon-password"></i>
                  </div>
                    <textarea placeholder="请输入此Discord备注" id="edit-remark"  name="remark" class="layui-textarea" lay-verify="required"  lay-reqtext="请填写Discord备注"  >${remark}</textarea>
                     <input type="hidden" name="id" value="${id}" lay-verify="required"  autocomplete="off" >
                     <input type="hidden" name="cid" value="${cid}" lay-verify="required"  autocomplete="off" >
                     <input type="hidden" name="email" id="edit-email" value="${email}"  autocomplete="off" >
                     <input type="hidden" name="username" id="edit-username" value="${username}"  autocomplete="off" >
                 </div>
              </div>

              <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid" id="add-button" lay-submit lay-filter="demo-login">确定修改</button>
              </div>

            </div>
          </div>
        `,
        success: function(){
          // 对弹层中的表单进行初始化渲染
          form.render();

          // Step 2: 异步加载下拉数据
          $.ajax({
            url:'{{ url_for('category.list') }}',
            headers: {
                'Authorization': 'Bearer ' + token,
            },
            type: 'GET',
            data: { is_type: 2 },
            success: function(res) {
              if (res.status === 1 && Array.isArray(res.data)) {
                const select = $('#category_select');
                select.empty();  // 清空旧内容
                select.append('<option value="">直接选择或搜索选择</option>');
                 res.data.forEach(item => {
                    const selected = (item.id === cid) ? 'selected' : '';
                    select.append(`<option value="${item.id}" ${selected}>${item.title}</option>`);
                });
                form.render('select');  // ⭐ 重要：重新渲染 layui select
              } else {
                layer.msg('下拉数据加载失败');
              }
            },
            error: function() {
              //layer.msg('请求出错');
            }
          });
          // 表单提交事件
          form.on('submit(demo-login)', function(data){

            $("#add-button").html("请稍等，正在提交数据...").attr("disabled","disabled");
            // 此处可执行 Ajax 等操作
            $.ajax({
                url:'{{ url_for('discord.edit') }}',
                headers: {
                    'Authorization': 'Bearer ' + token,
                },
                data:{
                    "username":data.field.username,
                    "global_name":data.field.global_name,
                    "id":data.field.id,
                    "cid":data.field.category_id,
                    "email":data.field.email,
                    "token":data.field.discord_token,
                    "remark":data.field.remark
                },
                dataType:"json",
                type:"post",
                async:false,
                success:function(result){
                    if(result.status == 1){

                        layer.confirm(result.message, {
                          btn: ['确定', '关闭'] //按钮
                        }, function(){
                          window.location.href='{{ url_for('discord.index') }}';
                        }, function(){
                          window.location.href='{{ url_for('discord.index') }}';
                        });

                        return true

                    }else{
                    	$("#add-button").html("确定提交").removeAttr("disabled");
                    	return layer.msg(result.message);
                    }
                }
            })
            return false; // 阻止默认 form 跳转
          });
        }
      });
    },
    'add-discord-page-custom': function(){
      layer.open({
        type: 1,
        area: '350px',
        resize: false,
        shadeClose: true,
        title: '新增Discord账号',
        content: `
          <div class="layui-form" lay-filter="filter-test-layer" style="margin: 16px;">
            <div class="demo-login-container">

             <div class="layui-form-item">
                <div class="layui-input-wrap">
                  <div class="layui-input-prefix">
                    <i class="layui-icon layui-icon-menu-fill"></i>
                  </div>
                  <input type="text" name="discord_token" id="add-token-input" value="" lay-verify="required" placeholder="填入Discord Token值，程序自动取信息 " lay-reqtext="请填写Discord的Token值" autocomplete="off" class="layui-input" lay-affix="clear">
                </div>

                 <div class="layui-inline layui-word-aux layui-font-gray" style="font-size:12px;margin-bottom:0px;"   id="show-token-demo-base-text">
                  什么？你不会取Discord的Token？
                  <a href="javascript:;" class="layui-font-blue">
                    点击查看教程
                  </a>
                </div>
              </div>

              <div class="layui-form-item">
                <div class="layui-input-wrap">
                  <div class="layui-input-prefix">
                    <i class="layui-icon layui-icon-username"></i>
                  </div>
                  <input type="text" name="global_name" id="add-global-name"   value="" disabled lay-verify="required" placeholder="@Discord用户名" lay-reqtext="请填写Discord用户名" autocomplete="off" class="layui-input" lay-affix="clear">
                </div>
              </div>

             <div class="layui-form-item">
                <div class="layui-input-wrap">
                  <div class="layui-input-prefix">
                    <i class="layui-icon layui-icon-list"></i>
                  </div>
                    <select name="category_id" id="category_select" lay-verify="required" lay-search>
                      <option value="">直接选择或搜索分组</option>
                    </select>
                    </div>
              </div>

              <div class="layui-form-item">
                <div class="layui-input-wrap">
                  <div class="layui-input-prefix">
                    <i class="layui-icon layui-icon-password"></i>
                  </div>
                    <textarea placeholder="请输入此Discord备注" id="add-remark"   name="remark" class="layui-textarea" lay-verify="required"  lay-reqtext="请填写Discord备注"  ></textarea>
                     <input type="hidden" name="email" id="add-email"   value=""   autocomplete="off" >
                    <input type="hidden" name="username" id="add-username"   value="" lay-verify="required" placeholder="@Discord用户名" lay-reqtext="请填写Discord用户名" autocomplete="off" class="layui-input" lay-affix="clear">

                 </div>
              </div>

              <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid" id="add-button" lay-submit lay-filter="demo-login">确定增加</button>
              </div>

            </div>
          </div>
        `,
        success: function(){
          // 对弹层中的表单进行初始化渲染
          form.render();
           // Step 2: 异步加载下拉数据
          $.ajax({
            url:'{{ url_for('category.list') }}',// ✅ 你后端接口地址
            headers: {
                'Authorization': 'Bearer ' + token,
            },
            type: 'GET',
            data: { is_type: 2 },
            success: function(res) {
              if (res.status === 1 && Array.isArray(res.data)) {
                const select = $('#category_select');
                select.empty();  // 清空旧内容
                select.append('<option value="">直接选择或搜索选择</option>');
                res.data.forEach(item => {
                  select.append(`<option value="${item.id}">${item.title}</option>`);
                });
                form.render('select');  // ⭐ 重要：重新渲染 layui select
              } else {
                layer.msg('下拉数据加载失败');
              }
            },
            error: function() {
               //layer.msg('请求出错');
            }
          });
          // 表单提交事件
          form.on('submit(demo-login)', function(data){

            $("#add-button").html("请稍等，正在提交数据...").attr("disabled","disabled");
            // 此处可执行 Ajax 等操作
            $.ajax({
                url:'{{ url_for('discord.add') }}',
                headers: {
                    'Authorization': 'Bearer ' + token,
                },
                data:{
                    "username":data.field.username,
                    "global_name":data.field.global_name,
                    "cid":data.field.category_id,
                    "email":data.field.email,
                    "token":data.field.discord_token,
                    "remark":data.field.remark
                },
                dataType:"json",
                type:"post",
                async:false,
                success:function(result){
                    if(result.status == 1){

                        layer.confirm(result.message, {
                          btn: ['确定', '关闭'] //按钮
                        }, function(){
                          window.location.href='{{ url_for('discord.index') }}';
                        }, function(){
                          window.location.href='{{ url_for('discord.index') }}';
                        });

                        return true

                    }else{
                    	$("#add-button").html("确定提交").removeAttr("disabled");
                    	return layer.msg(result.message);
                    }
                }
            })
            return false; // 阻止默认 form 跳转
          });
        }
      });
    },
    'add-category-page-custom': function(){
      layer.open({
        type: 1,
        area: '350px',
        resize: false,
        shadeClose: true,
        title: '新增分组',
        content: `
          <div class="layui-form" lay-filter="filter-test-layer" style="margin: 16px;">
            <div class="demo-login-container">
              <div class="layui-form-item">
                <div class="layui-input-wrap">
                  <div class="layui-input-prefix">
                    <i class="layui-icon layui-icon-username"></i>
                  </div>
                  <input type="text" name="username" value="" lay-verify="required" placeholder="分组名称" lay-reqtext="请填写分组名称" autocomplete="off" class="layui-input" lay-affix="clear">
                </div>
              </div>
              <div class="layui-form-item">
                <div class="layui-input-wrap">
                  <div class="layui-input-prefix">
                    <i class="layui-icon layui-icon-password"></i>
                  </div>
                    <textarea placeholder="请输入此分组备注" name = "remark" class="layui-textarea" lay-verify="required"  lay-reqtext="请填写分组备注"  ></textarea>
                 </div>
              </div>

              <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid" id="add-button" lay-submit lay-filter="demo-login">确定增加</button>
              </div>

            </div>
          </div>
        `,
        success: function(){
          // 对弹层中的表单进行初始化渲染
          form.render();
          // 表单提交事件
          form.on('submit(demo-login)', function(data){

            $("#add-button").html("请稍等，正在提交数据...").attr("disabled","disabled");
            // 此处可执行 Ajax 等操作
            $.ajax({
                url:'{{ url_for('category.add') }}',
                headers: {
                    'Authorization': 'Bearer ' + token,
                },
                data:{
                    "username":data.field.username,
                    "is_type":2,
                    "remark":data.field.remark
                },
                dataType:"json",
                type:"post",
                async:false,
                success:function(result){
                    if(result.status == 1){

                        layer.confirm(result.message, {
                          btn: ['确定', '关闭'] //按钮
                        }, function(){
                          window.location.href='{{ url_for('discord.index') }}';
                        }, function(){
                          window.location.href='{{ url_for('discord.index') }}';
                        });

                        return true

                    }else{
                    	$("#add-button").html("确定提交").removeAttr("disabled");
                    	return layer.msg(result.message);
                    }
                }
            })
            return false; // 阻止默认 form 跳转
          });
        }
      });
    }
  })
});
</script>

{% endblock %}