{% extends "base.html" %}

{% block content %}
 <!--begin::App Content Header-->

        <div class="app-content">
          <!--begin::Container-->
          <div class="container-fluid">



            <!--begin::Row-->
            <div  style="margin:20px 0px 10px 0px;">
              <div class="col-sm-6"><h4 class="mb-0">投研工具箱</h4></div>


            </div>
            <!--end::Row-->

              <div class="tool-card-grid" id="data-table">





              </div>




          </div>
          <!--end::Container-->
        </div>
        <!--end::App Content-->


{% endblock %}