      <!--begin::Sidebar-->
      <aside class="app-sidebar shadow bg-light" data-bs-theme="light">
        <!--begin::Sidebar Brand-->
        <div class="sidebar-brand">
          <!--begin::Brand Link-->
          <a href="/" class="brand-link">
            <!--begin::Brand Image-->
            <img src="{{ url_for('static', filename='dist/assets/img/logo.png') }}" alt="Logo" class="brand-image opacity-75 shadow">
            <!--end::Brand Image-->
            <!--begin::Brand Text-->
            <span class="brand-text fw-light">TouYan.me</span>
            <!--end::Brand Text-->
          </a>
          <!--end::Brand Link-->
        </div>
        <!--end::Sidebar Brand-->
        <!--begin::Sidebar Wrapper-->
        <div class="sidebar-wrapper">
          <nav class="mt-2">
            <!--begin::Sidebar Menu-->
            <ul
              class="nav sidebar-menu flex-column"
              data-lte-toggle="treeview"
              role="menu"
              data-accordion="false"
            >
               <li class="nav-item">
                <a href="/" class="nav-link {% if request.path == '/' %}active{% endif %}">
                  <i class="nav-icon layui-icon layui-icon-website"></i>
                  <p>管理首页</p>
                </a>
              </li>


              <li class="nav-item">
                <a href="{{ url_for('twitter.index') }}" class="nav-link {% if request.path.startswith('/twitter/index') %}active{% endif %} {% if request.path.startswith('/category/twitter') %}active{% endif %} ">
                  <i class="nav-icon layui-icon layui-icon-template-1"></i>
                  <p>推特账号</p>
                </a>
              </li>

              <li class="nav-item">
                <a href="{{ url_for('twitter.message') }}" class="nav-link {% if request.path.startswith('/twitter/message') %}active{% endif %}">
                  <i class="nav-icon layui-icon layui-icon-dialogue" ></i>
                  <p>推特信息流</p>
                </a>
              </li>

              <li class="nav-item">
                <a href="{{ url_for('discord.index') }}" class="nav-link {% if request.path.startswith('/discord/index') %}active{% endif %}  {% if request.path.startswith('/category/discord') %}active{% endif %}  {% if request.path.startswith('/discord/guild') %}active{% endif %}   ">
                  <i class="nav-icon layui-icon layui-icon-app "></i>
                  <p>Discord账号</p>
                </a>
              </li>


               <li class="nav-item">
                <a href="{{ url_for('discord.message') }}" class="nav-link  {% if request.path.startswith('/discord/message') %}active{% endif %} ">
                  <i class="nav-icon layui-icon layui-icon-reply-fill" ></i>
                  <p>Discord信息流</p>
                </a>
              </li>



              <!--
              <li class="nav-item">
               <a href="{{ url_for('twitter.summary') }}" class="nav-link {% if request.path.startswith('/twitter/summary') %}active{% endif %}">
                  <i class="nav-icon layui-icon layui-icon-survey"></i>
                  <p>推文总结</p>
                </a>
              </li>

              <li class="nav-item">
                <a href="{{ url_for('twitter.summary') }}" class="nav-link {% if request.path.startswith('/twitter/summary') %}active{% endif %}">
                  <i class="nav-icon layui-icon layui-icon-user"></i>
                  <p>共同关注</p>
                </a>
              </li>

               <li class="nav-item">
                 <a href="/">
                  <i class="nav-icon layui-icon layui-icon-chart-screen"></i>
                  <p>最新项目</p>
                </a>
              </li>
               -->
              {% if uid == 10000 %}
              <li class="nav-item">
                 <a href="{{ url_for('member.index') }}" class="nav-link {% if request.path.startswith('/member/index') %}active{% endif %}">
                  <i class="nav-icon layui-icon layui-icon-group"></i>
                  <p>会员管理</p>
                </a>
              </li>

              <li class="nav-item">
                 <a href="{{ url_for('member.codes') }}" class="nav-link {% if request.path.startswith('/member/codes') %}active{% endif %}">
                  <i class="nav-icon layui-icon layui-icon-tabs"></i>
                  <p>邀请码管理</p>
                </a>
              </li>
            {% endif %}

            </ul>
            <!--end::Sidebar Menu-->
          </nav>
        </div>
        <!--end::Sidebar Wrapper-->
      </aside>
      <!--end::Sidebar-->